diffusers==0.24.0
imageio==2.35.1
xformers==0.0.28.post1
transformers==4.44.2
gradio==4.44.0
imageio==2.35.1
imageio-ffmpeg==0.5.1
huggingface-hub==0.24.7
kornia
accelerate
scikit-image
einops
opencv-python
gdown
einops
decord
omegaconf
safetensors
gradio
wandb
triton
termcolor